/* CUSTOM PROPS */
:root {
    --title-color: #34313D;
    --text-color: #9E9AA8;
    --link-color: #BFBFBF;
    --light-bg-color: #EFF1F7;
    --dark-bg-color: #232127;
    --accent-color: #2BD0D0;
    --accent-hover-color: #9AE3E3;
    --error-color: #F46363;
} 


/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Poppins", "Arial", sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTO-FILLS STYLES*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { /* Chrome/Opera/Safari */
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 14px 40px 12px;
    border-radius: 28px;
    border: 0;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    background-color: var(--accent-hover-color);
}

.button:active {
    opacity: 0.6;
}

.button--small {
    padding: 8px 24px;
    font-size: 15px;
    line-height: 22.5px;
}

.button--rectangle {
    border-radius: 5px;
}

.button--rectangle-big {
    border-radius: 10px;
}


.button--big {
    padding: 18px 40px 16px;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fff;
    font-weight: bold;
    line-height: normal;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 45px;
}


/* LOGO */
.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}


.logo__img {
    display: block;
    width: 120px;
    height: 33px;
    object-fit: contain;
}

.site-header__sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.sitenav__link:hover {
    color: var(--title-color);
}

.sitenav__link:active {
    opacity: 0.6;
}

.site-header__auth {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.site-header__login-link {
    margin-right: 37px;
    color: var(--text-color);
    text-decoration: none;
}

.site-header__login-link:hover {
    color: var(--title-color);
}

.site-header__login-link:active {
    opacity: 0.6;
}


/* HERO */
.hero {
    padding-top: 92px;
    padding-bottom: 222px;
    background-image: url("../img/working_with_computer.svg");
    background-repeat: no-repeat;
    background-position: left calc(50% + 450px) top 0;
}

.hero__inner {
    max-width: 565px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--title-color);
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px; /* 112.5% */
    letter-spacing: -2px;
}

.hero__text {
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--text-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 163.636% */
    letter-spacing: 0.15px;
}


/* INDEX-URL-SHORTENER-FEATURES-WRAPPER*/
.index-url-shortener-features-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--light-bg-color);
}

.index-url-shortener-features-wrapper__url-shortener {
    margin-top: -84px;
    margin-bottom: 120px;
}

/* URL-SHORTENER-FORM */
.url-shortener__form {
    display: flex;
    padding: 52px 64px;
    margin-bottom: 24px;
    border-radius: 10px;
    background-color: #4B3F6B;
    background-image: url("../img/form-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.url-shortener__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 24px;
}


.url-shortener__input {
    flex-grow: 1;
    display: block;
    width: 100%;
    padding: 14px 32px;
    border: 3px solid transparent;
    border-radius: 10px;
    color: var(--title-color);
    font-size: 20px;
    font-style: normal;
    line-height: 36px; /* 180% */
    letter-spacing: 0.15px;
}

.url-shortener__input:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--error-color);
    color: var(--error-color);
}


.url-shortener__error-msg {
    display: none;
}

.url-shortener__input:not(:focus):not(:placeholder-shown):invalid ~ .url-shortener__error-msg {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    font-weight: medium;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
    letter-spacing: 0.109px;
    color: var(--error-color);
}

.url-shortener__results {
    display: none;
    font-size: 20px;
    line-height: 36px;
}

.url-shortener__results--open {
    display: block;
}

.url-shortener__result {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-radius: 5px;
    background-color: #fff;
    color: var(--title-color);
}

.url-shortener__result:not(:last-child) {
    margin-bottom: 16px;
}

.url-shortener__original-link {
    width: 100%;
    margin-right: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.url-shortener__short-link {
    text-decoration: none;
    color: var(--accent-color);
    margin-right: 24px;
}

.url-shortener__copy-button {
    min-width: 103px;
}

.url-shortener__copy-button--copied {
    background-color: #3A3054;
}


/* INDEX-FEATURES */
.index-features {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--light-bg-color);
}

.index-features__top {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.index-features__title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 48px;
    line-height: 48px;
    color: var(--title-color);
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.index-features__top-info {
    margin: 0;
    margin-bottom: 100px;
    color: #9E9AA8;
    font-size: 18px;
    font-style: normal;
    line-height: 32px; /* 177.778% */
    letter-spacing: 0.123px;
}

.index-features__list {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

.index-features__list::before {
    position: absolute;
    z-index: -1; 
    left: 0;
    top: 152px;
    width: 100%;
    height: 8px;
    background-color: #2BD0D0;
    content: "";
}

.index-features__item {
    width: 350px;
}

.index-features__item:not(:last-child) {
    margin-right: 30px;
}

.index-features__item:nth-child(2) {
    margin-top: 44px;
}

.index-features__item:last-child {
    margin-top: 88px;
}

.index-feature {
    position: relative;
    padding: 77px 32px 40px;
    background-color: #fff;
    border-radius: 5px;
}

.index-feature__icon-wrapper {
    position: absolute;
    left: 32px;
    top: -44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    background-color: #3A3054;
    border-radius: 50%;
}

.index-feature__title {
    margin-top: 0;
    margin-bottom: 12px;
    color: var(--title-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.index-feature__info {
    margin: 0;
    font-style: normal; 
}


/* CTA */
.cta {
    padding-top: 57px;
    padding-bottom: 57px;
    background-image: url("../img/cta-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

.cta__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: -1px;
}


/* SITE-FOOTER */
.site-footer {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: var(--dark-bg-color);
}

.site-footer__container {
    display: flex;
    align-items: flex-start;
}

.site-footer__logo {
    margin-right: 30px;
}


.site-footer__menus {
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

.site-footer__menu:not(:last-child) {
    margin-right: 90px;
}

.site-footer__menu-title {
    margin-top: 0;
    margin-bottom: 22px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.25px;
}

.site-footer__menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-footer__menu-item:not(:last-child) {
    margin-bottom: 5px;
}

.site-footer__menu-link {
    text-decoration: none;
    color: var(--link-color);
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.234px;
    text-transform: capitalize;
}

.site-footer__menu-link:hover {
    color: var(--accent-color);
}

.site-footer__menu-link:active {
    opacity: 0.6;
}

.socials__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.socials__item:not(:last-child) {
    margin-right: 24px;
}

.socials__link {
    display: flex;
    align-items: center;
    color: #fff;
}

.socials__link:hover {
    color: var(--accent-color);
}

.socials__link:active {
    opacity: 0.6;
}

.socials__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}