/* CUSTOM PROPS */
:root {
    --title-color: #34313D;
    --text-color: #9E9AA8;
    --link-color: #BFBFBF;
    --light-bg-color: #EFF1F7;
    --dark-bg-color: #232127;
    --accent-color: #2BD0D0;
    --accent-hover-color: #9AE3E3;
    --error-color: #F46363;
} 


/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Poppins", "Arial", sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 14px 40px 12px;
    border-radius: 28px;
    border: 0;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: var(--accent-hover-color);
}

.button:active {
    opacity: 0.6;
}

.button--small {
    padding: 8px 24px;
    font-size: 15px;
    line-height: 22.5px;
}

.button--rectangle {
    border-radius: 5px;
}

.button--rectangle-big {
    border-radius: 10px;
}


.button--big {
    padding: 18px 40px 16px;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fff;
    font-weight: bold;
    line-height: normal;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 45px;
}


/* LOGO */
.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}


.logo__img {
    display: block;
    width: 120px;
    height: 33px;
    object-fit: contain;
}

.site-header__sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.sitenav__link:hover {
    color: var(--title-color);
}

.sitenav__link:active {
    opacity: 0.6;
}

.site-header__auth {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.site-header__login-link {
    margin-right: 37px;
    color: var(--text-color);
    text-decoration: none;
}

.site-header__login-link:hover {
    color: var(--title-color);
}

.site-header__login-link:active {
    opacity: 0.6;
}


/* HERO */
.hero {
    padding-top: 92px;
    padding-bottom: 222px;
    background-image: url("../img/working_with_computer.svg");
    background-repeat: no-repeat;
    background-position: left calc(50% + 450px) top 0;
}

.hero__inner {
    max-width: 565px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--title-color);
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px; /* 112.5% */
    letter-spacing: -2px;
}

.hero__text {
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--text-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 163.636% */
    letter-spacing: 0.15px;
}

